[General]
Name=Basic (pfs)
Name[ru]=Простой класс (pfs)
Comment=Basic C++ Class (pfs)
Comment[ru]=Простой класс C++ (pfs)
Category=C++/Basic
Language=C++
Language[ru]=C++
Type=Class
Files=Header

[Header]
Name=Header
Name[ru]=Заголовок
File=pfs.hpp
OutputFile={{ name }}.hpp
