[General]
Name=C++ class Header/Implementation
Name[ru]=Заголовок/Реализация класса C++
Comment=C++ class Header/Implementation
Comment[ru]=Заголовок/Реализация класса C++
Category=C++/Basic
Language=C++
Language[ru]=C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[ru]=Заголовок
File=class.hpp
OutputFile={{ name }}.hpp

[Implementation]
Name=Implementation
Name[ru]=Реализация
File=class.cpp
OutputFile={{ name }}.cpp
